{% extends 'shared/base.html' %}

{% block site_title %}
    Iberia Business Solution
{% endblock %}

{% block style_links %}
    <link rel="stylesheet" href="/static/css/main.css"/>
{% endblock %}

{% block main_content %}
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/img/img1.jpeg" style="width:100%">
            <div class="w3-display-topmiddle w3-container w3-text-white w3-padding-64 w3-hide-small">
                <h3 class="w3-center w3-animate-bottom">Welcome</h3>
                <p class="w3-center w3-animate-bottom"><b>This is Iberia Business Solution!</b></p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/img/img2.jpeg" style="width:100%">
            <div class="w3-display-topmiddle w3-container w3-text-white w3-padding-64 w3-hide-small">
                <h3 class="w3-center w3-animate-bottom">Explore</h3>
                <p class="w3-center w3-animate-bottom"><b>Gain valuable insights from the Dashboard!</b></p>
            </div>
        </div>
        <div class="mySlides w3-display-container w3-center">
            <img src="/static/img/img3.jpeg"
                 style="width:100%">
            <div class="w3-display-topmiddle w3-container w3-text-white w3-padding-64 w3-hide-small">
                <h3 class="w3-center w3-animate-bottom">Upload</h3>
                <p class="w3-center w3-animate-bottom"><b>Upload monthly data to keep up to date!</b></p>
            </div>
        </div>
</div>

    <script src="/static/js/main.js"></script>

{% endblock %}
