<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block site_title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/logo.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block style_links %}
    {% endblock %}

</head>

<body>
<header>
    {% include 'partials/nav.html' %}
</header>
<main>
    {% block main_content %}
        No content
    {% endblock %}
</main>
<footer>
    {% include 'partials/footer.html' %}
</footer>

</body>
</html>